@font-face {font-family: "TacticSans-Reg"; 
    src: url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.eot"); src: url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.woff") format("woff"), url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.svg#TacticSans-Reg") format("svg"); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "TacticSans-Reg";
}

header{
    padding: 16px 0;
    font-family: "TacticSans-Reg";
    background-color: #ff5900;
    font-weight: normal;
}

section{
    padding: 24px;
}

header h1{
    font-weight: 900;
    font-size: 34px;
}

header nav li{
    display: inline-flex;
    margin-bottom: 8px;
    margin-left: 16px;
    font-size: 22px;
}

header nav li a{
    color: #ecf0f1;
    text-decoration: none;
}

header nav li a:hover{
    color: #ecf0f1;
    text-decoration: underline;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container,
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer{
    padding: 16px 0;
    background-color: black;
    color: #ecf0f1;
}

body h2{
    font-family: "TacticSans-Reg";
    font-size: 32px;
    margin-bottom: 16px;
}

header nav li a{
    color: snow;
    text-decoration: none;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fox-logo{
    max-width: 256px;
    margin-right: 32px;
}

section #about-home-page{
    display: block;
}

section .container{
    align-items: flex-start;
    justify-content: space-between;
}

section h2,
section h3,
section h4,
section p{
    margin-bottom: 12px;
}

#services-lobby-lobby{
    padding-bottom: 0;
}

#services li{
    padding: 2px 0;
    margin-left: 16px;
}

.social-links img{
    height: 24px;
}

.social-links li{
    align-items: inline;
    display: inline;
    margin-right: 16px;
}

.social-links li a{
    text-decoration: none;
}

.social-links li a:hover{
    text-decoration: underline;
}

#services-lobby{
    display: block;
}

.social-links ul{
    display: inline;
}

.services-list{
    display: flex;
    justify-content: space-between;
}

#services .container{
    display: block;
}

#services a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#solicite{
    max-width: 1280px;
    margin: 8px auto;
    text-align: center;
}


.services-list div{
    margin-right: 8px;
}

footer .container{
    align-items: flex-start;
}

footer h3{
    margin-bottom: 7px;
}

#contacts a{
    color: snow;
    text-decoration: none;
}

#contacts a:hover{
    text-decoration: underline;
}

header a{
    color: snow;
    text-decoration: none;
    font-size: 22px;
}
header a:hover,
#services a:hover{
    text-decoration: underline;
}

form{
    padding: 16px;
}

#form-con .container{
    display: block;
}

#formulario{
    display: flex;
    align-items: flex-start;
}

section img{
    max-width: 610px;
}

form textarea{
    font-family: "TacticSans-Reg";
    border-color: black;
    width: 620px;
    height: 160px;
    resize: none;
}

form input #tel-req{
    
}