*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;  
    background-color: black;
    color: ghostwhite;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header{
    font-family: 'Anonymous Pro', monospace;
    background-color: #ff5900;
    color: black;
}

body h2{
    font-family: 'Anonymous Pro', monospace;
    color: snow;
    font-size: 32px;
}

header nav li{
    display: inline;
    margin-bottom: 8px;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    color: snow;
    text-decoration: none;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    width: 164px;
    top: 0px;
    left: 0px;
}

.head-logo{
    align-items: center;
    display: flex;
}

